<div id="testim">

    <table>
        <tr>
            <td>
                <div class="testim">
                    <video controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Toma%CC%81s%20Urueta%20testimonio.mov?alt=media&token=ce970f5f-f813-4812-b9fe-bbb756117a4a" type="video/mp4">
                        Your browser does not support HTML5 video.
                      </video>
                    <div class="textestim">
                        Edgardo Ortiza
                    </div>
                </div>
            </td>
            <td>
                <div class="quote_container_first">

                    <div class="quote_a"></div>

                    <div class="quote_text">
                        Hace 10 años solo habían dos negocios de artesanía, hoy ya hay 15 establecimientos
                    </div>

                    <div class="quote_b"></div>

                </div>

            </td>
        </tr>
        <tr>
            <td>
                <div class="quote_container_first">

                    <div class="quote_a"></div>

                    <div class="quote_text">
                        De los 4 locales que hay en la feria permanente, dos ya declaran renta.
                    </div>

                    <div class="quote_b"></div>

                </div>

            </td>
            <td>
                <div class="testim">
                    <video controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Toma%CC%81s%20Urueta%20testimonio.mov?alt=media&token=ce970f5f-f813-4812-b9fe-bbb756117a4a" type="video/mp4">
                        Your browser does not support HTML5 video.
                      </video>
                    <div class="textestim">
                        Edgardo Ortiza
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="testim">
                    <video controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Toma%CC%81s%20Urueta%20testimonio.mov?alt=media&token=ce970f5f-f813-4812-b9fe-bbb756117a4a" type="video/mp4">
                        Your browser does not support HTML5 video.
                      </video>
                    <div class="textestim">
                        Edgardo Ortiza
                    </div>
                </div>
            </td>
            <td>
                <div class="quote_container_first">

                    <div class="quote_a"></div>

                    <div class="quote_text">
                        A un artesano le pueden quedar en promedio de dos a tres millones de pesos libres
                    </div>

                    <div class="quote_b"></div>

                </div>

            </td>
        </tr>
        <tr>
            <td>
                <div class="quote_container_first">

                    <div class="quote_a"></div>

                    <div class="quote_text">
                        En una de las ferias del pueblo, se vendió en un día 25 millones de pesos
                    </div>

                    <div class="quote_b"></div>

                </div>

            </td>
            <td>
                <div class="testim">
                    <video controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Toma%CC%81s%20Urueta%20testimonio.mov?alt=media&token=ce970f5f-f813-4812-b9fe-bbb756117a4a" type="video/mp4">
                        Your browser does not support HTML5 video.
                      </video>
                    <div class="textestim">
                        Edgardo Ortiza
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="testim">
                    <video controls>
                        <source src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Toma%CC%81s%20Urueta%20testimonio.mov?alt=media&token=ce970f5f-f813-4812-b9fe-bbb756117a4a" type="video/mp4">
                        Your browser does not support HTML5 video.
                      </video>
                    <div class="textestim">
                        Edgardo Ortiza
                    </div>
                </div>
            </td>
            <td>
                <div class="quote_container_first">

                    <div class="quote_a"></div>

                    <div class="quote_text">
                        El viernes santo, los cinco locales permanentes del municipio vendieron 8 millones de pesos
                    </div>

                    <div class="quote_b"></div>

                </div>

            </td>
        </tr>
        <tr>

            <td>
                <div class="quote_container_first">

                    <div class="quote_a"></div>

                    <div class="quote_text">
                        -350 euros cuesta una cartera hecha en palma de iraca en el Corte ingles. -Según Yaneris Angulo, Silvia Tcherassi les paga a las artesanas por bolso un total de 50.000 pesos.

                    </div>

                    <div class="quote_b"></div>

                </div>

            </td>
            <td>
                <div class="testim">
                    <video controls>
                            <source src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Toma%CC%81s%20Urueta%20testimonio.mov?alt=media&token=ce970f5f-f813-4812-b9fe-bbb756117a4a" type="video/mp4">
                            Your browser does not support HTML5 video.
                          </video>
                    <div class="textestim">
                        Edgardo Ortiza
                    </div>
                </div>
            </td>
        </tr>
    </table>



</div>