<div class="component2" id="contexto">
  <div id="div-contexto" >
      <link href='https://cdn.knightlab.com/libs/soundcite/latest/css/player.css' rel='stylesheet' type='text/css'><script type='text/javascript' src='https://cdn.knightlab.com/libs/soundcite/latest/js/soundcite.min.js'></script>
      <h1>Contexto</h1>
      <p id="contexto">Usiacurí es uno de los pueblos más antiguos de la costa Atlántica, cuya fundación se remonta al
         año 1574, pero fue hasta 1856 que se declaró municipio. El territorio tiene una extensión rural 
         de 102 km2 con un suelo quebrado de elevaciones que no exceden los 250 m.s.n.m. En principio, el 
         municipio fue reconocido nacional e internacionalmente por sus aguas medicinales ya que cientos
          de turistas visitaban el municipio con el fin de curar sus males. Más tarde la producción 
          artesanal se constituyó como la principal actividad económica del territorio.</p>
  </div>
  <div id="mapimage" style="position: relative;">
      <input type="checkbox" id="checkUsi">
    <label for="checkUsi" style="position: relative;">
        
      <img id="mapa" *ngIf="!changeImage" [attr.src]="URLMainMapHover" usemap="#image-map">
      <img id="mapa" *ngIf="changeImage" [attr.src]="URLMainMap" usemap="#image-map">
      <map name="image-map">
        <area (mouseover)="changeImage=false" (mouseout)="changeImage=true" coords="206,255,48" shape="circle">
      </map>
    </label>
   
  </div>

  




</div>