<div class="component2" id="contexto">

    <div class="content-map">
        <div class="textocontenedor">
            <h3>Contexto</h3>
            <p>Desde su fundación, en 1574, Usiacurí, el pesebre del Atlántico, ha sido reconocido por ser un pueblo de tradición artesanal. Ubicado a 38 kilómetros de Barranquilla, cuenta con una extensión rural de 103 km² y una temperatura que varía entre
                los 24º y 34º centígrados. Sobre suelos quebrados y un paisaje montañoso, habitan cerca de 9.600 usiacureños de los cuales, según cálculos de la alcaldía local, el 80% se dedican al oficio de la tejeduría en palma de iraca
            </p>
            <br>
            <br>
            <aside id="leermas" class="modal">
                <div id="modal-content" style="overflow-y: scroll;">
                    <p>
                        Usiacurí, un lugar lleno de magia y paz, no es solo reconocido por el talento artesanal de sus habitantes, sino que, además, es un tesoro lleno de leyendas. En sus pozos artesanales se encontraba un poder escondido, aguas medicinales que tenían la facultad
                        de curar graves enfermedades. En palabras de Eduardo Amaranto, líder de sostenibilidad turística del municipio, esto creó a comienzos del siglo XX una oleada de migración, debido a que cientos de turistas llegaban al lugar con
                        el fin de curar sus males, tanto así que hasta el mismo poeta Julio Flórez, quien vivió gran parte de su vida en el municipio,
                        <span class="soundcite" data-url="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Soundcite%20%5B1%5D%20.mp3?alt=media&token=fddcfebf-5e04-4777-b362-b1d0fd9486b5" data-start="0" data-end="45000" data-plays="1"> pudo dar testimonio de la efectividad de sus aguas.</span>
                    </p>
                    <div id="mainwrapper">
                        <div id="box-1" class="box">
                            <div id="bg-block" class="bg-block-1"></div>
                            <span class="caption simple-caption cap1">
                                 <div class="title">Usiacurí desde una de sus colinas...</div>
                                <p>
                                    Así se ve Usiacurí desde una de sus colinas. En el punto más alto del pueblo se encuentra la iglesia Santo Domingo de Guzmán.
                                </p>
                            </span>
                        </div>

                        <div id="box-1" class="box">
                            <div id="bg-block" class="bg-block-2"></div>
                            <span class="caption simple-caption cap2">
                                <div class="title">Casa museo...</div>
                                <p>
                                    El poeta romántico Julio Flórez Roa, vivió desde 1910 hasta el día de su muerte en 1923 en tierras usiacureñas.  La casa que habitó es hoy en día un museo considerado Patrimonio Cultural.
                                </p>
                            </span>
                        </div>

                    </div>
                    <p style="margin-top: 210px;">
                        Fue a raíz de esta mixtura de razas que una familia ecuatoriana llegó al municipio con un saber que cambiaría la vida de sus habitantes, el arte de la tejeduría en palma de iraca. Como lo relata el historiador Tomás Urueta, los ecuatorianos fueron los
                        primeros en enseñar la técnica del sombrero a base de esta fibra y fue así como el saber se propagó entre la comunidad.
                    </p>
                    <p>
                        Cómo lo cuenta el historiador, hace más de dos siglos <span class="soundcite" data-url="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Soundcite%20%5B2%5D%20.mp3?alt=media&token=ab26c313-cd85-4c5d-8c3d-b992b25717a5"
                            data-start="0" data-end="12000" data-plays="1">desde la Casa Madre</span>, hogar donde vivía una familia reconocida en el municipio por la formación académica de sus integrantes, Maclovia Sarmiento, maestra artesana,
                        <strong>
                            fue la encargada de enseñar el saber de la tejeduría en iraca a las mujeres del pueblo.
                        </strong>
                    </p>
                    <p>
                        Las ansias de un pueblo creativo permitieron seguir experimentando este procedimiento con otros productos, y es así como nace el primer sol, símbolo representativo de las artesanías usiacureñas que se encuentra tejido en algunos bolsos.
                    </p>
                    <div class="quote">
                        <span class="left">❝</span>
                        <blockquote>
                            Los soles se hacen entrecruzando la fibra formando una x</blockquote>
                        <small>Yaneris Ángulo, artesana del municipio</small>
                        <span class="right">❞</span>
                    </div>


                    <p>Así fue como el arte se propagó en el pueblo de generación en generación, un saber hacer que sigue vigente hasta el día de hoy y aunque ha innovado,
                        <strong>lo tradicional se mantiene.</strong>
                    </p>


                    <a href="#close" title="Close">Close</a>
                </div>
            </aside>
            <div class="botones">
                <a href="#leermas" class="openModal">Leer Mas</a>
            </div>
        </div>
        <div class="mapacontenedor">
            <div id="mapimage">
                <input type="checkbox" id="checkUsi" class="checkUsi" name="checkUsi">
                <div class="modal__overlay">
                    <label for="modal__state" class="modal__overlay-close"></label>

                    <label class="button button--close modal__close" for="modal__state"><i class="fa fa-times"></i></label>
                    <div class="modal1">
                        <div class="page-container">
                            <div class="video-container">
                                <video controls muted width="100%" height="100%" volume="20" canplay="true" style="top: 0; width: 100%; height: 100%; z-index: -1;" onclick="this.mute=true">
                                  <source src="https://firebasestorage.googleapis.com/v0/b/firegallery-448d4.appspot.com/o/Video-mapa.mp4?alt=media&token=b561336d-0ba3-4a48-8b4f-1a2738a05b9d" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="z-index: 999; position: relative; top:290px; left: 80px;">
                    <p class="scale-up-center">click</p>
                </div>
                <label for="checkUsi" style="position: relative;">
              <img id="mapa" *ngIf="!changeImage" [attr.src]="URLMainMapHover" usemap="#image-map">
              <img id="mapa" *ngIf="changeImage" [attr.src]="URLMainMap" usemap="#image-map">
              <map name="image-map">
                <area (mouseover)="changeImage=false" (mouseout)="changeImage=true" coords="206,255,48" shape="circle">
              </map>
            </label>
            </div>
        </div>
    </div>

</div>