/**



#contexto{
  left: 30px;
  color: azure;
  width: 520px;
  padding-left: 35px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  float: left;
  display: block;
}

#contexto h1{
  float: left;
}


#mapimage{
  position: relative ;
  height: 590px;
  width: 415px;
  margin-left: auto;
  margin-right: auto;
  right: 150px;
  float: right;
}

#checkUsi{
  position: absolute;
  top: 250px;
  left: 210px;
  visibility: hidden;
}




**/