<div class="container">
    <h1 id="titlecadena"><strong class="sub-title cadenasub">Cadena de valor</strong></h1>
    <div class="chain">
        <div class="circle-line lf">
            <div class="circle-lf">
                <div class="play-button-lf"></div>
                <h1>1</h1>
                <div class="article-lf">
                    <div>
                        <h3>Compra de la iraca</h3>
                        <a href="#cadena1">
                            <img class="imgcont" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/cadena-foto-1.JPG?alt=media&token=f2a11aa9-444f-46d9-911c-5d8d3611dda4">
                        </a>
                    </div>
                    <div class="leyeng-lf">
                        <p>
                            La iraca no es oriunda de Usiacurí y por esta razón desde sus inicios es traída de otros lugares del país tales como, San Cayetano Bolívar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-line rg ">
            <div class="circle-rg ">
                <div class="play-button-rg"></div>
                <h1>2</h1>
                <div class="article-rg">
                    <div>
                        <h3>Limpieza de los cogollos</h3>
                        <a href="#cadena2">
                            <img class="imgcont" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/cadena-foto-2.JPG?alt=media&token=079b1af4-e224-4015-b067-07269352d509">
                        </a>
                    </div>
                    <div class="leyeng-rg">
                        <p>
                            Para limpiar los cogollos se debe verter en una olla agua con detergente. Se debe mantener a fuego bajo y posteriormente agregar la fibra.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-line lf ">
            <div class="circle-lf ">
                <div class="play-button-lf "></div>
                <h1>3</h1>
                <div class="article-lf">
                    <div>
                        <h3>Tinturado</h3>
                        <a href="#cadena3">
                            <img class="imgcont" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/cadena-foto-3.JPG?alt=media&token=247a7cf9-dafc-4125-b0ae-aa7c52ef6b42">
                        </a>
                    </div>
                    <div class="leyeng-lf">
                        <p>
                            Para el tinturado es necesario utilizar diversas anilinas, las cuales se mezclan en el agua hervida con la fibra y se revuelven por 20 o 30 min.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-line rg ">
            <div class="circle-rg ">
                <div class="play-button-rg "></div>
                <h1>4</h1>
                <div class="article-rg">
                    <div>
                        <h3>Enjuague</h3>
                        <a href="#cadena4">
                            <img class="imgcont" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/cadena-foto-4.JPG?alt=media&token=f0120ca0-12cd-4ed2-ba94-fb4cdcc3db13">
                        </a>
                    </div>
                    <div class="leyeng-rg">
                        <p>
                            Pasados los 30 min, se saca la fibra y se vuelve a lavar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-line lf ">
            <div class="circle-lf ">
                <div class="play-button-lf "></div>
                <h1>5</h1>
                <div class="article-lf">
                    <div>
                        <h3>Secado</h3>
                        <a href="#cadena5">
                            <img class="imgcont" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/cadena-foto-5.JPG?alt=media&token=c042a7ca-08f6-4ca7-98fd-fb063d00bf6c">
                        </a>
                    </div>
                    <div class="leyeng-lf">
                        <p>
                            El paso final es secar la fibra. Esta se debe orear en un lugar en la que no le pegue el sol, ya que el contacto directo con este le absorve el color.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-line rg ">
            <div class="circle-rg ">
                <div class="play-button-rg "></div>
                <h1 id="6">6</h1>
                <div class="article-rg">
                    <div>
                        <h3>Secado</h3>
                        <img class="imgcont" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/cadena-foto-6.JPG?alt=media&token=e2f62d36-9cfd-4d04-ad30-9785b73824c0">
                    </div>
                    <div class="leyeng-rg">
                        <p>
                            Una vez completado el secado la fibra debe almacenarse en un lugar seco alejado del sol.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="circle-line lf ">
            <div class="circle-lf ">
                <div class="play-button-lf "></div>
                <h1 id="7">7</h1>
                <div class="article-lf">
                    <div>
                        <h3>Producto terminado</h3>

                        <img class="imgcont" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/cadena-foto-6.JPG?alt=media&token=e2f62d36-9cfd-4d04-ad30-9785b73824c0">

                    </div>
                    <div class="leyeng-lf">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="botones">
            <a href="#cadenamas" class="openModal">La cara detrás del color</a>
        </div>
    </div>



    <!--modales de la cadena-->

    <aside id="cadena1" class="modalcad">
        <div class="cad">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uEo2McWWQvI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a href="#close" title="Close"></a>
        </div>
    </aside>

    <aside id="cadena2" class="modalcad">
        <div class="cad">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/y3zVzbXaqNs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a href="#close" title="Close"></a>
        </div>
    </aside>

    <aside id="cadena3" class="modalcad">
        <div class="cad">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/p3rOIOh-DDU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a href="#close" title="Close"></a>
        </div>
    </aside>

    <aside id="cadena4" class="modalcad">
        <div class="cad">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TVbvmeN1Kgw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a href="#close" title="Close"></a>
        </div>
    </aside>

    <aside id="cadena5" class="modalcad">
        <div class="cad">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/qHUwGte1nUA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a href="#close" title="Close"></a>
        </div>
    </aside>

    <!-- 

  <aside id="cadena6" class="modal">
        <div class="cad">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zXZfAgC44qo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a href="#close" title="Close"></a>
        </div>
    </aside>

    <aside id="cadena7" class="modal">
        <div class="cad">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/zXZfAgC44qo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a href="#close" title="Close"></a>
        </div>
    </aside>

  -->







    <!---modal de fin de cadena-->




    <aside id="cadenamas" class="modal">
        <div id="modal-content" style="overflow-y: scroll;">

            <div class="scroller">
                <h4>
                    <strong class="titlemodal">Don Pedro, la cara detrás del color </strong>
                </h4>
                <p class="colorp">
                    Con el cantar de un gallo, en su casa ubicada en una de las colinas de Usiacurí, se levanta don Pedro Márquez a las 6 de la mañana. Al bajar unas escaleras inclinadas llega a su patio, sitio en el que pinta la palma de iraca hasta en 25 colores. En una
                    pequeña estufa de tan solo dos fogones monta dos ollas que utiliza para tinturar la palma, la misma con las que cocina “un buen sancocho”. Mientras que el señor Pedro muestra cómo hace su proceso, mezclando el amarillo y el verde,
                    cuenta que lleva 18 años dándole vida y color a cogollos.
                </p>

                <div class="contenedor">
                    <div class="wraps">
                        <img class="color" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Pedro-pa%CC%81gina%20.JPG?alt=media&token=d118da5c-aa7e-4fe3-80c0-ecda40b1e021">
                        <img class="color" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Pedro-pagina-olla%20.JPG?alt=media&token=3e77124e-3195-49d4-bb28-7e27b57cdb49">
                    </div>
                </div>
                <p class="colorp">
                    Identificarlo es fácil. Si alguien pregunta “¿quién tintura?”, todos responden: “El señor Pedro, el más reconocido del pueblo”. Se destaca por su precisión en los colores y no se da cuenta que, con su saber único, logra que la artesanía de Usiacurí esté
                    bajo el reflector de varios espectadores, entre ellos diseñadores y microempresarios locales.
                </p>


                <a href="#close" title="Close">Close</a>
            </div>
        </div>
    </aside>

</div>