<header>
    <div class="video-wrapper">
        <div class="video">
            <figure>
                <!--  <video [attr.src]="URLPublica" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted=true"></video>
              -->
                <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/foto-portada%20.JPG?alt=media&token=f972e6fd-0628-4ea5-895a-df5ac7436617" style="width: 100%; height: 100%;">
            </figure>
        </div>
    </div>

    <div id="menuprincipal">
        <input type="checkbox" id="toggle" checked="true" value="MENU" />
        <label for="toggle" class="fa fa-bars">MENU</label>
        <nav>

            <menu>
                <li><a href="#type0">INICIO</a></li>
                <li><a href="#introduccion">INTRODUCCIÓN</a></li>
                <li><a href="#contexto">CONTEXTO</a></li>
                <li><a href="#cadenavalor">DÍA A DÍA</a></li>
                <li><a href="#caminomoda">HACIA LA MODA</a></li>
                <li><a href="#llegadacolor">LLEGADA DEL COLOR</a></li>
                <li><a href="#boommoda">EL BOOM</a></li>
            </menu>
        </nav>

    </div>
</header>





<div class="stretch">
    <div class="component" id="type0">
        <div class="title-content">
            <h1 id="main-title">Tejiendo Moda</h1>
            <h4 id="subtitle">El nuevo lujo artesanal</h4>

            <div class="botones" id="vervideo">
                <a href="#example" class="openModal">Ver Video</a>
                <!--     <a href="#introduccion" class="openModal">Leer reportaje</a> -->
            </div>
        </div>
        <aside id="example" class="modal">
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/zXZfAgC44qo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <a href="#close" title="Close">Close</a>
            </div>
        </aside>
    </div>
    <div id="compoment-general">
        <div class="component" id="type2">
            <app-introduccion></app-introduccion>
        </div>
        <div class="component" id="type1">
            <app-mapa></app-mapa>
        </div>
        <div class="component" id="type2">
            <app-cadenavalor></app-cadenavalor>
        </div>
        <div class="component" id="type1">
            <div id="caminomoda">
                <app-caminomoda></app-caminomoda>
            </div>
        </div>
        <div class="component" id="type2">
            <div id="llegadacolor" style="margin-top: -50px;">
                <app-llegadacolor></app-llegadacolor>
            </div>
        </div>
        <div class="component" id="type1">
            <div id="boommoda">
                <app-boom></app-boom>
            </div>
        </div>
    </div>
</div>


<!--

<div id="texto-main-title">
                <p class="title-text"><span> De la palma de iraca nace el cogollo; del cogollo se desprende el hilo que, ensartado en una aguja y trenzado a un alambre, da vida a múltiples objetos artesanales. Los bolsos, aretes y anillos fabricados con esta particular fibra han
                    convertido a Usiacurí, municipio del Atlántico, en líder artesanal del departamento. A comienzos de este siglo, los diseñadores colombianos vieron en este territorio de tejedores un talento y una capacidad productiva particular que,
                    sumado a sus procesos de diseño, innovación y creatividad, sería capaz de llegar al mercado de la moda internacional.
                </span>
                </p>
                <p class="title-text">
                    <span>
                    Acompañános en este recorrido multimedial en el que damos cuenta de cómo la artesanía de Usiacurí se ha constituido en los últimos años como un referente de moda de nuestro país.
                </span>
                </p>
            </div>

            -->