.video-wrapper {
  position: fixed;
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  padding: 0 0 0 0;
  z-index: -1;
}

.title-content{
  width: 100%;
  height: 100%;

}

#main-title {
  font-size: 6.25rem;
  letter-spacing: .60rem;
  text-shadow: 1px 8px 1px rgba(188, 153, 93, 0.349);
  letter-spacing: 1px;
  padding-top: 15%;
  justify-content: center;
  text-align: center;
  color: #BC995D;
  font-family: 'Domine', sans-serif;
}


video {
  margin: 0;
  padding: 0;
  float: center;
  width: 100%;
  height: 100% !important;
  max-width: 100%;

}


.component{
  height: auto;
  min-height: 250px;
  min-width: 100%;
  background-size: cover;
  margin: 0 0 0 0 ;
}

#compoment-general{
  padding: 0px 0px 0px 0px;
}

#type0 {
  display: flex;
  height: 100vh;
}

#type1 {
  background-color: #F6CF90;
}
#type2 {
  background-color: #BC995D;
}

nav{
	position: fixed;
	display: flex;
	width: 100%;
  margin: 0.30rem auto;
  background-color: rgba(188, 153, 93, 0.377)  ;
}

nav a{
	display: block;
	width: 20%;
	padding: .65rem 0;
  color: #fff;
	text-decoration: none;
	text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

}

.nav-underline, .nav-underline2{
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 18%;
	height: 2px;
	background: #fff;
	transition: all .3s ease-in-out;
}

.nav-underline2{
	top: -1px !important;
}

nav a:hover{
	font-size: 14px;
	font-weight: 600;
	transition: font-size .1s linear,
	            font-weight .1s linear;
	color: #835004;            
}

nav a:nth-child(1).current ~ .nav-underline{
	left: 0;
}


nav a:nth-child(2).current ~ .nav-underline{
	left: 20%;
}


nav a:nth-child(3).current ~ .nav-underline{
	left: 40%;
}


nav a:nth-child(4).current ~ .nav-underline{
	left: 60%;
}


nav a:nth-child(5).current ~ .nav-underline{
	left: 80%;
}

nav a:nth-child(1):hover ~ .nav-underline{
	left: 0;
}


nav a:nth-child(2):hover ~ .nav-underline{
	left: 20%;
}


nav a:nth-child(3):hover ~ .nav-underline{
	left: 40%;
}


nav a:nth-child(4):hover ~ .nav-underline{
	left: 60%;
}


nav a:nth-child(5):hover ~ .nav-underline{
	left: 80%;
}

nav a:nth-child(1).current ~ .nav-underline2{
	left: 0;
}


nav a:nth-child(2).current ~ .nav-underline2{
	left: 20%;
}


nav a:nth-child(3).current ~ .nav-underline2{
	left: 40%;
}


nav a:nth-child(4).current ~ .nav-underline2{
	left: 60%;
}


nav a:nth-child(5).current ~ .nav-underline2{
	left: 80%;
}

nav a:nth-child(1):hover ~ .nav-underline2{
	left: 0;
}


nav a:nth-child(2):hover ~ .nav-underline2{
	left: 20%;
}


nav a:nth-child(3):hover ~ .nav-underline2{
	left: 40%;
}


nav a:nth-child(4):hover ~ .nav-underline2{
	left: 60%;
}


nav a:nth-child(5):hover ~ .nav-underline2{
	left: 80%;
}

/**





#compoment-general{
  height: auto;
  width: 100%;
  min-width: 100%;
}

figure {
  margin: 0;
  position: relative;
}

figure h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-right: 3px solid #fff;
  padding: 5px 10px 5px 5px;
}

video {
  float: center;
  width: 100%;
  height: 100% !important;
  max-width: 100%;

}

.stretch {
  background: rgba(246, 207, 144, 0.034);
  height: auto;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  background-size: cover;
  padding-bottom: 40%;
  margin-bottom: 40%;
}



.video-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  padding: 0 0 0 0;
  z-index: -1;
}

#main-title {
  font-size: 7.25rem;
  letter-spacing: .60rem;
  margin-bottom: 1.3rem;
  padding-bottom: 14%;
  padding-top: 8%;
  text-shadow: 1px 8px 1px rgba(188, 153, 93, 0.349);
  letter-spacing: 1px;
  color: #BC995D;
  font-family: 'Domine', sans-serif;
}

**/