@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700);
* {
  font-family: "Open Sans";
  box-sizing: border-box;
  text-align: center;
  color: #fff;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  position: relative;
}

figure h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  border-right: 3px solid #fff;
  padding: 5px 10px 5px 5px;
}

video {
  width: 100%;
  height: 45% !important;
  max-width: 100%;
}

.stretch {
  background: rgba(1, 15, 143, 0.137);
  height: auto;
  min-height: 100%;
  min-width: 100%;
  background-size: cover;
  padding-bottom: 245px;
  padding-top: 14rem;
}

.stretch h1 {
  padding: 20px;
}

.hero-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  z-index: -9999;
}

#main-title {
  font-family: "Courgette", sans-serif, cursive;
  font-size: 7.25rem;
  letter-spacing: .60rem;
  margin-bottom: 1.3rem;
  text-shadow: 1px 8px 1px rgba(3, 14, 110, 0.37);
}

#main-title {
  
  position: relative;
  /* styling */
  margin: auto;
  letter-spacing: 1px;
  font-family: 'Courgette', sans-serif;
}

#main-title:after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to bottom, #FAF6F8, #EECFD4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

#main-title:before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  text-shadow: 0 5px 0 #A77468;
  z-index: 1;
}