<div id="introduccion">
    <p><strong class="title">Retornar a lo básico</strong></p>
    <br>
    <div id="demoparagraph">

        <p>Colombia, desde la mirada de la moda internacional, es reconocida por sus texturas alegres, llenas de colores vivos. Los diseñadores alrededor del mundo han encontrado en los diseños de culturas indígenas, caribeñas y afrocolombianas importantes
            referentes que han cambiado la tradicional moda llena de grises, blancos y tonos neutros. </p>
        <p>En los últimos años, en un mundo globalizado en el que los consumidores se ven abrumados por la producción en masa,<strong> se ha empezado a hablar de la tendencia de “retornar a lo básico”</strong>, es decir, la posibilidad de volver a nuestras
            raíces o a las tradiciones culturales de nuestros antepasados que permiten crear productos en los que se evidencia el trabajo artesanal. Cada vez son más los compradores que exclaman a gritos obtener productos en donde prevalezca <strong>originalidad,
            calidad, sostenibilidad y, como valor agregado, el trabajo hecho a mano. </strong></p>
        <p>Es este mismo furor global de la producción artesanal el que ha permitido rescatar técnicas con una calidad inigualable que se habían quedado en la memoria cultural del caribe colombiano. Es debido a este fenómeno mundial, que en los últimos
            <strong> 5
            años Usiacurí se ha conformado como un clúster que trabaja diariamente para ser un complemento de la moda nacional e internacional.</strong></p>
    </div>

</div>