#demoparagraph {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 29px;
    -moz-column-gap: 29px;
    column-gap: 29px;
    -webkit-column-rule: 1px solid rgba(28, 110, 164, 0.5);
    -moz-column-rule: 1px solid rgba(28, 110, 164, 0.5);
    column-rule: 1px solid rgba(28, 110, 164, 0.5);
    max-width: 80%;
    position: relative;
    top: 40px;
    margin: 5px;
    padding: 35px;
    left: 8%;
    align-content: center;
}

#introduccion {
    height: 400px;
    margin-bottom: -3px;
}

p strong {
    position: relative;
    top: 70px;
    left: 12%;
    font-size: 1.5rem;
    letter-spacing: .60rem;
    text-shadow: 1px 8px 1px rgba(188, 153, 93, 0.349);
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    color: rgb(129, 63, 12);
    font-family: 'Domine', sans-serif;
}