<h4 class="sub-title">Llegada del color</h4>
<div id="demoparagraph">
    <p>
        La aparición del uso de tintes en las artesanías de Usiacurí fue, quizás, tan importante como lo que significó la industrialización del color para la moda en el siglo XIX. Cuando el químico Henry Perkin inventó las anilinas y el teñido de tejidos en 1856,
        la industria de la moda dio un vuelco de 180 grados. Los colores fueron un pilar fundamental para crear diseños llenos de vida y emociones; diseños que crean un gran impacto en la imagen personal. Desde ese momento, el color y la moda cooperan
        como un dueto inseparable.
    </p>
</div>
<div class="box">
    <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Usiacuri%CC%81-%20entrada%20color%20.JPG?alt=media&token=6db72a4f-3a7b-4673-92f0-e3fea2bddf2b" alt="">
</div>
<div id="demoparagraph">
    <p>Sin duda alguna, la llegada del color a territorio usiacureño gracias a la incidencia de Artesanías de Colombia marcaría un antes y un después. <strong>Una planta de tinturado, implementada por la entidad, permitiría a los artesanos darle color a la palma </strong>.
        Debido a que se volvieron insumos más llamativos, novedosos y comerciales, fue posible despertar el interés de los amantes de la moda, lo que generó <strong>  ventas y alianzas con exitosos diseñadores </strong>.
    </p>

</div>
<div class="podcast_content">
    <div class="podcont">
        <div class="podcast">
            <div id="photocast">
                <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-Edgardo.png?alt=media&token=d2ca58b4-8120-414d-8fc5-8ccf6af2044f">
            </div>
            <div id="nombrecast">
                <h5> nombre del podcast ahora aca</h5>
            </div>
            <div id="audiocast">
                <audio controls controlsList="nodownload" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/%20Podcast%20Edgardo%20Ortiz-%20Artesano%20.mp3?alt=media&token=6bd02eb6-7f64-43af-a706-d7b9162c0aa5"></audio>
            </div>
        </div>
    </div>
    <div class="podcont">
        <div class="podcast">
            <div id="photocast">
                <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-Edgardo.png?alt=media&token=d2ca58b4-8120-414d-8fc5-8ccf6af2044f">
            </div>
            <div id="nombrecast">
                <h5> nombre del podcast ahora aca</h5>
            </div>
            <div id="audiocast">
                <audio controls controlsList="nodownload" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/%20Podcast%20Edgardo%20Ortiz-%20Artesano%20.mp3?alt=media&token=6bd02eb6-7f64-43af-a706-d7b9162c0aa5"></audio>
            </div>
        </div>
    </div>
    <div class="podcont">
        <div class="podcast">
            <div id="photocast">
                <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-Edgardo.png?alt=media&token=d2ca58b4-8120-414d-8fc5-8ccf6af2044f">
            </div>
            <div id="nombrecast">
                <h5> nombre del podcast ahora aca</h5>
            </div>
            <div id="audiocast">
                <audio controls controlsList="nodownload" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/%20Podcast%20Edgardo%20Ortiz-%20Artesano%20.mp3?alt=media&token=6bd02eb6-7f64-43af-a706-d7b9162c0aa5"></audio>
            </div>
        </div>
    </div>

</div>
<div class="container">
    <h1 id="titlecadena"><strong class="title">Cadena de valor</strong></h1>
    <div class="chain">
        <div class="circle-line lf">
            <div class="circle-lf">
                <div class="play-button-lf"></div>
                <h1>1</h1>
                <div class="article-lf">
                    <div>
                        <h3>Compra de la iraca</h3>
                        <img class="imgcont" src="../../assets/images/Diseño-atlantico-mapa-minimalista-general.gif">
                    </div>
                    <div class="leyeng-lf">
                        <p>
                            La iraca no es oriunda de Usiacurí y por esta razón desde sus inicios es traída de otros lugares del país tales como, San Cayetano Bolívar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-line rg ">
            <div class="circle-rg ">
                <div class="play-button-rg"></div>
                <h1>2</h1>
                <div class="article-rg">
                    <div>
                        <h3>Limpieza de los cogollos</h3>
                        <img class="imgcont" src="../../assets/images/Diseño-atlantico-mapa-minimalista-general.gif">
                    </div>
                    <div class="leyeng-rg">
                        <p>
                            Para limpiar los cogollos se debe verter en una olla agua con detergente. Se debe mantener a fuego bajo y posteriormente agregar la fibra.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-line lf ">
            <div class="circle-lf ">
                <div class="play-button-lf "></div>
                <h1>3</h1>
                <div class="article-lf">
                    <div>
                        <h3>Tinturado</h3>
                        <img class="imgcont" src="../../assets/images/Diseño-atlantico-mapa-minimalista-general.gif">
                    </div>
                    <div class="leyeng-lf">
                        <p>
                            Para el tinturado es necesario utilizar diversas anilinas, las cuales se mezclan en el agua hervida con la fibra y se revuelven por 20 o 30 min.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-line rg ">
            <div class="circle-rg ">
                <div class="play-button-rg "></div>
                <h1>4</h1>
                <div class="article-rg">
                    <div>
                        <h3>Enjuague</h3>
                        <img class="imgcont" src="../../assets/images/Diseño-atlantico-mapa-minimalista-general.gif">
                    </div>
                    <div class="leyeng-rg">
                        <p>
                            Pasados los 30 min, se saca la fibra y se vuelve a lavar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-line lf ">
            <div class="circle-lf ">
                <div class="play-button-lf "></div>
                <h1>5</h1>
                <div class="article-lf">
                    <div>
                        <h3>Secado</h3>
                        <img class="imgcont" src="../../assets/images/Diseño-atlantico-mapa-minimalista-general.gif">
                    </div>
                    <div class="leyeng-lf">
                        <p>
                            El paso final es secar la fibra. Esta se debe orear en un lugar en la que no le pegue el sol, ya que el contacto directo con este le absorve el color.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-line rg ">
            <div class="circle-rg ">
                <div class="play-button-rg "></div>
                <h1>6</h1>
                <div class="article-rg">
                    <div>
                        <h3>Secado</h3>
                        <img class="imgcont" src="../../assets/images/Diseño-atlantico-mapa-minimalista-general.gif">
                    </div>
                    <div class="leyeng-rg">
                        <p>
                            Una vez completado el secado la fibra debe almacenarse en un lugar seco alejado del sol.
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="circle-line lf ">
            <div class="circle-lf ">
                <div class="play-button-lf "></div>
                <h1>7</h1>
                <div class="article-lf">
                    <div>
                        <h3>Producto terminado</h3>
                        <img class="imgcont" src="../../assets/images/Diseño-atlantico-mapa-minimalista-general.gif">
                    </div>
                    <div class="leyeng-lf">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="botones">
            <a href="#cadenamas" class="openModal">La cara detrás del color</a>
        </div>
    </div>
    <aside id="cadenamas" class="modal">
        <div id="modal-content" style="overflow-y: scroll;">

            <div class="scroller">
                <h4>
                    <strong class="titlemodal">Don Pedro, la cara detrás del color </strong>
                </h4>
                <p>
                    Con el cantar de un gallo, en su casa ubicada en una de las colinas de Usiacurí, se levanta don Pedro Márquez a las 6 de la mañana. Al bajar unas escaleras inclinadas llega a su patio, sitio en el que pinta la palma de iraca hasta en 25 colores. En una
                    pequeña estufa de tan solo dos fogones monta dos ollas que utiliza para tinturar la palma, la misma con las que cocina “un buen sancocho”. Mientras que el señor Pedro muestra cómo hace su proceso, mezclando el amarillo y el verde,
                    cuenta que lleva 18 años dándole vida y color a cogollos.
                </p>

                <div class="contenedor">
                    <div class="wraps">
                        <img class="color" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-Edgardo.png?alt=media&token=d2ca58b4-8120-414d-8fc5-8ccf6af2044f">
                        <img class="color" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-Edgardo.png?alt=media&token=d2ca58b4-8120-414d-8fc5-8ccf6af2044f">
                    </div>
                </div>
                <p>
                    Identificarlo es fácil. Si alguien pregunta “¿quién tintura?”, todos responden: “El señor Pedro, el más reconocido del pueblo”. Se destaca por su precisión en los colores y no se da cuenta que, con su saber único, logra que la artesanía de Usiacurí esté
                    bajo el reflector de varios espectadores, entre ellos diseñadores y microempresarios locales.
                </p>


                <a href="#close" title="Close">Close</a>
            </div>
        </div>
    </aside>

</div>