#introduccion {
    height: auto;
    margin-bottom: -3px;
}

#modal-content {
    background: rgb(255, 218, 170);
    padding: 40px 15px 20px 15px;
}

p strong.title {
    position: relative;
    top: 70px;
    left: 12%;
    font-size: 1.5rem;
    letter-spacing: .60rem;
    text-shadow: 1px 8px 1px rgba(188, 153, 93, 0.349);
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    color: rgb(129, 63, 12);
    font-family: 'Domine', sans-serif;
}

img {
    border-radius: 100%;
    overflow: hidden;
}

#photocast {
    border: 4px solid #694d1c;
    height: 150px;
    width: 150px;
    border: 4px solid #7c5a20;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: -90px;
}

.podcast {
    margin: 95px 8px 8px 8px;
    width: 300px;
    height: 150 px;
    background: #7c5a20;
    border: 3px solid transparent;
    border-radius: 20px;
    text-align: center;
}

#audiocast {
    margin-left: 0px 0px -3px 0px;
}

audio {
    margin: 0px 0px -5px 0px;
    color: red;
    height: 35px;
}

#nombrecast {
    max-width: 30px;
    min-width: 300px;
    position: relative;
}

.podcont {
    float: left;
}

.podcast_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.chain {
    padding: 133px 15px 110px 15px;
    position: relative;
    top: 33%;
    left: 0%;
}

#titlecadena {
    position: relative;
    top: 60px;
    left: 180px;
    z-index: 1;
}

h1 {
    position: relative;
    top: 7%;
    left: 42%;
}

.circle-lf {
    position: relative;
    top: 10%;
    right: 15px;
    height: 90px;
    width: 90px;
    border: solid 10px rgb(255, 237, 206);
    border-radius: 100%;
}

.circle-rg {
    position: relative;
    top: 10%;
    left: 30px;
    height: 90px;
    width: 90px;
    border: solid 10px rgb(255, 237, 206);
    border-radius: 100%;
}

.circle-line {
    margin-top: -15px;
    height: 140px;
    width: 130px;
    border: solid rgb(255, 237, 206);
}

.rg {
    margin-left: 40%;
    border-radius: 100% 0 0 100%;
    border-width: 15px 0px 15px 15px;
}

.lf {
    margin-left: 45%;
    border-radius: 0 50% 50% 0;
    border-width: 15px 15px 15px 0px;
}

.play-button {
    top: 37%;
    left: 130%;
}

.play-button-rg:after {
    position: absolute;
    top: 37%;
    left: 130%;
    display: block;
    content: '';
    box-sizing: border-box;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 13px 0 13px 20px;
}

.play-button-lf:before {
    position: absolute;
    top: 37%;
    right: 130%;
    display: block;
    content: '';
    box-sizing: border-box;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    border-width: 13px 20px 13px 0px;
}

.imgcont {
    max-height: 120px;
    max-width: 120px;
}

.article-rg {
    position: absolute;
    top: -60px;
    left: 170%;
    text-align: left;
}

.leyeng-rg {
    position: absolute;
    top: 35%;
    left: 140px;
    text-align: left;
    min-width: 250px;
    max-width: 250px;
}

.article-lf {
    position: absolute;
    top: -53px;
    left: -220px;
    text-align: left;
}

.leyeng-lf {
    position: absolute;
    top: 35%;
    left: -260px;
    text-align: right;
    max-width: 250px;
}

.baner {
    height: 10%;
}

#fullpic {
    border-radius: 0;
    width: 100%;
    overflow: hidden;
    margin: 50px 0 0 50px;
}

.box {
    width: 100%;
    height: 550px;
    overflow: hidden;
    z-index: -100;
    overflow: hidden;
    height: 450px;
}

.box img {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 0;
}

#titlecolor {
    position: relative;
    top: 96px;
    left: -33%;
    font-size: 1.5rem;
    letter-spacing: .60rem;
    text-shadow: 1px 8px 1px rgba(188, 153, 93, 0.349);
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    color: rgb(129, 63, 12);
    font-family: 'Domine', sans-serif;
}


/**********************************************************/

.botones {
    width: 100%;
}

#vervideo {
    margin: 0% 44% 0 44%;
}

.botones a {
    text-align: center;
    float: left;
    margin: 38px 5px 0 5px;
}

.modal {
    /* Overlay page content */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(231, 189, 119);
    z-index: 10000;
    /* Transition opacity on open */
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
    /* Hide for now */
    opacity: 0;
    pointer-events: none;
}


/* Show modal */

.modal:target {
    opacity: 1;
    pointer-events: auto;
    /* at time of writing (Feb 2012), pointer-events not supported by Opera or IE */
}


/* Content */

.modal>div {
    width: 90%;
    background: rgba(250, 184, 41, 0.274);
    position: relative;
    margin: 10% auto;
    /* Default minimise animation */
    -webkit-animation: minimise 500ms linear;
    -moz-animation: minimise 500ms linear;
    animation: minimise 500ms linear;
    /* Prettify */
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    background: rgba(255, 255, 255, 0.178);
    background: -moz-linear-gradient(rgba(255, 255, 255, 0.151), rgba(204, 204, 204, 0.158));
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.123), rgba(204, 204, 204, 0.144));
    background: -o-linear-gradient(rgba(255, 255, 255, 0.123), rgba(204, 204, 204, 0.144));
    background: linear-gradient(rgba(255, 255, 255, 0.13), rgba(204, 204, 204, 0.116));
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.11);
    height: 400px;
}


/* Override animation on modal open */

.modal:target>div {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    animation-name: bounce;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: scale3d(0.1, 0.1, 1);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    }
    55% {
        -webkit-transform: scale3d(1.08, 1.08, 1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
    }
    75% {
        -webkit-transform: scale3d(0.95, 0.95, 1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    }
}

@-webkit-keyframes minimise {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
    }
    100% {
        -webkit-transform: scale3d(0.1, 0.1, 1);
    }
}

@-moz-keyframes bounce {
    0% {
        -moz-transform: scale3d(0.1, 0.1, 1);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    }
    55% {
        -moz-transform: scale3d(1.08, 1.08, 1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
    }
    75% {
        -moz-transform: scale3d(0.95, 0.95, 1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    }
    100% {
        -moz-transform: scale3d(1, 1, 1);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    }
}

@-moz-keyframes minimise {
    0% {
        -moz-transform: scale3d(1, 1, 1);
    }
    100% {
        -moz-transform: scale3d(0.1, 0.1, 1);
    }
}

@keyframes bounce {
    0% {
        transform: scale3d(0.1, 0.1, 1);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    }
    55% {
        transform: scale3d(1.08, 1.08, 1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
    }
    75% {
        transform: scale3d(0.95, 0.95, 1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    }
    100% {
        transform: scale3d(1, 1, 1);
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.9);
    }
}

@keyframes minimise {
    0% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        transform: scale3d(0.1, 0.1, 1);
    }
}


/* Modal close link */

.modal a[href="#close"] {
    position: relative;
    right: 0;
    top: 30px;
    color: transparent;
}


/* Reset native styles */

.modal a[href="#close"]:focus {
    outline: none;
}


/* Create close button */

.modal a[href="#close"]:after {
    content: 'X';
    display: block;
    position: absolute;
    right: 48%;
    top: 20%;
    margin: 0 1% 0 1%;
    width: 4%;
    padding: 1px 1px 1px 2px;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    background: rgb(248, 211, 132);
    color: rgb(153, 99, 54);
    border: 3px solid rgb(153, 99, 54);
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.modal a[href="#close"]:focus:after,
.modal a[href="#close"]:hover:after {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.modal a[href="#close"]:focus:after {
    outline: 1px solid #000;
}


/* Open modal */

a.openModal {
    margin: 1em auto;
    display: block;
    width: 200px;
    background: #ccc;
    text-align: center;
    padding: 4px;
    border-radius: 7px;
    background: rgb(255, 205, 96);
    background: -moz-linear-gradient(rgb(255, 205, 96, 0.68), rgb(255, 205, 96, 0.65));
    background: -webkit-linear-gradient(rgb(255, 205, 96, 0.68), rgb(255, 205, 96, 0.65));
    background: -o-linear-gradient(rgb(255, 205, 96, 0.68), rgb(255, 205, 96, 0.65));
    background: linear-gradient(rgb(255, 205, 96, 0.68), rgb(255, 205, 96, 0.65));
    text-shadow: 0 1px 0 rgb(255, 205, 96);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-family: 'Domine', sans-serif, bold;
    color: #835004;
}

a.openModal:hover,
a.openModal:focus {
    background: -moz-linear-gradient(rgba(255, 205, 96, 0.541), rgb(255, 205, 96));
    background: -webkit-linear-gradient(rgb(255, 205, 96), rgb(255, 205, 96));
    background: -o-linear-gradient(rgb(255, 205, 96), rgb(255, 205, 96));
    background: linear-gradient(rgb(255, 205, 96), rgb(255, 205, 96));
}

#menuprincipal {
    position: fixed;
    z-index: 9999;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
nav {
    position: absolute;
    width: 390px;
    float: left;
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin-left: auto;
    width: 239px;
    padding: 11px 0;
    background-color: rgba(255, 174, 53, 0.3);
    color: #813f0c;
    text-align: center;
    cursor: pointer;
}

#menuprincipal li {
    list-style-type: none;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #ddd;
    background-color: #caaa50;
    background-size: 200% 100%;
    background-position: 90% 0px;
    font-family: 'Domine', sans-serif;
    text-shadow: 1px 9px 2px rgba(129, 102, 54, 0.349);
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

#menuprincipal li:hover {
    background-color: #dab85cd3;
    text-shadow: 1px 8px 1px rgba(129, 102, 54, 0.349);
    font-family: 'Domine', sans-serif;
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    color: rgb(129, 63, 12);
    font-size: 2.5rem;
    letter-spacing: .30rem;
}

a {
    display: block;
    padding: 20px 0;
    color: #513106;
    text-align: center;
    font-family: 'Source Code Pro', sans-serif;
    text-decoration: none;
    -webkit-transition: color .1s;
    -moz-transition: color .1s;
}

a:hover {
    color: #492c06;
    -webkit-transition: color .1s;
    -moz-transition: color .1s;
}

li:nth-child(1) {
    border-top: none;
    background-image: -webkit-linear-gradient(left, #78cdce 0%, #78cdce 50%, #f4f5f6 0%);
    background-image: -moz-linear-gradient(left, #78cdce 0%, #78cdce 50%, #f4f5f6 0%);
}

li:nth-child(2) {
    background-image: -webkit-linear-gradient(left, #f16767 0%, #f16767 50%, #f4f5f6 0%);
    background-image: -moz-linear-gradient(left, #f16767 0%, #f16767 50%, #f4f5f6 0%);
}

li:nth-child(3) {
    background-image: -webkit-linear-gradient(left, #f5ee32 0%, #f5ee32 50%, #f4f5f6 0%);
    background-image: -moz-linear-gradient(left, #f5ee32 0%, #f5ee32 50%, #f4f5f6 0%);
}

li:nth-child(4) {
    background-image: -webkit-linear-gradient(left, #97cc69 0%, #97cc69 50%, #f4f5f6 0%);
    background-image: -moz-linear-gradient(left, #97cc69 0%, #97cc69 50%, #f4f5f6 0%);
}

li:nth-child(5) {
    background-image: -webkit-linear-gradient(left, #507abd 0%, #507abd 50%, #f4f5f6 0%);
    background-image: -moz-linear-gradient(left, #507abd 0%, #507abd 50%, #f4f5f6 0%);
}

li:nth-child(6) {
    background-image: -webkit-linear-gradient(left, #6b408e 0%, #6b408e 50%, #f4f5f6 0%);
    background-image: -moz-linear-gradient(left, #6b408e 0%, #6b408e 50%, #f4f5f6 0%);
    border-bottom: none;
}

li:hover {
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.285, 0.32, 1.0) all;
    -moz-transition: 0.3s cubic-bezier(0.175, 0.285, 0.32, 1.0) all;
    background-position: 0% 0%;
}

#toggle:checked~nav {
    margin-left: -390px;
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}


/*************************************************************************/

#mainwrapper {
    margin: 0 auto
}


/************************/

.wraps {
    width: 720px;
}

.contenedor {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.color {
    border-radius: 0px;
    width: 48%;
    margin: 5px;
}

.titlemodal {
    font-size: 1.35rem;
    letter-spacing: .60rem;
    text-shadow: 1px 4px 1px rgba(188, 153, 93, 0.349);
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    color: rgb(129, 63, 12);
    font-family: 'Domine', sans-serif;
    margin-top: 5px;
    margin-bottom: 20px;
}

.cadenamas p {
    padding: 10px 5px 10px 5px;
    text-align: justify;
    width: 98%;
}

.scroller {
    position: relative;
    width: 80%;
    margin: 3% 10% 3% 10%;
}