#introduccion {
    height: auto;
    margin-bottom: -3px;
}

p strong.title {
    position: relative;
    top: 70px;
    left: 12%;
    font-size: 1.5rem;
    letter-spacing: .60rem;
    text-shadow: 1px 8px 1px rgba(188, 153, 93, 0.349);
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    color: rgb(129, 63, 12);
    font-family: 'Domine', sans-serif;
}

img {
    border-radius: 100%;
    overflow: hidden;
}

#photocast {
    border: 4px solid #694d1c;
    height: 150px;
    width: 150px;
    border: 4px solid #7c5a20;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: -90px;
}

.podcast {
    margin: 95px 8px 8px 8px;
    width: 300px;
    height: 150 px;
    background: #7c5a20;
    border: 3px solid transparent;
    border-radius: 20px;
    text-align: center;
}

.clr1 {
    background: #af7c24;
}

.clr2 {
    background: #daaa58;
}

#audiocast {
    margin-left: 0px 0px -3px 0px;
}

audio {
    margin: 0px 0px -5px 0px;
    color: red;
    height: 35px;
}

#nombrecast {
    max-width: 30px;
    min-width: 300px;
    position: relative;
}

.podcont {
    float: left;
}

.podcast_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.imgcont {
    border-radius: 0;
}

.baner {
    height: 10%;
}

#fullpic {
    border-radius: 0;
    width: 100%;
    overflow: hidden;
    margin: 50px 0 0 50px;
}

.box {
    width: 100%;
    height: 550px;
    overflow: hidden;
    z-index: -100;
    overflow: hidden;
    height: 450px;
}

.box img {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 0;
}

#titlecolor {
    position: relative;
    top: 96px;
    left: -33%;
    font-size: 1.5rem;
    letter-spacing: .60rem;
    text-shadow: 1px 8px 1px rgba(188, 153, 93, 0.349);
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    color: rgb(129, 63, 12);
    font-family: 'Domine', sans-serif;
}


/**********************************************************/

#menuprincipal {
    position: fixed;
    z-index: 9999;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
nav {
    position: absolute;
    width: 390px;
    float: left;
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin-left: auto;
    width: 239px;
    padding: 11px 0;
    background-color: rgba(255, 174, 53, 0.3);
    color: #813f0c;
    text-align: center;
    cursor: pointer;
}

#menuprincipal li {
    list-style-type: none;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #ddd;
    background-color: #caaa50;
    background-size: 200% 100%;
    background-position: 90% 0px;
    font-family: 'Domine', sans-serif;
    text-shadow: 1px 9px 2px rgba(129, 102, 54, 0.349);
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

#menuprincipal li:hover {
    background-color: #dab85cd3;
    text-shadow: 1px 8px 1px rgba(129, 102, 54, 0.349);
    font-family: 'Domine', sans-serif;
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    color: rgb(129, 63, 12);
    font-size: 2.5rem;
    letter-spacing: .30rem;
}

a {
    display: block;
    padding: 20px 0;
    color: #513106;
    text-align: center;
    font-family: 'Source Code Pro', sans-serif;
    text-decoration: none;
    -webkit-transition: color .1s;
    -moz-transition: color .1s;
}

a:hover {
    color: #492c06;
    -webkit-transition: color .1s;
    -moz-transition: color .1s;
}

li:nth-child(1) {
    border-top: none;
    background-image: -webkit-linear-gradient(left, #78cdce 0%, #78cdce 50%, #f4f5f6 0%);
    background-image: -moz-linear-gradient(left, #78cdce 0%, #78cdce 50%, #f4f5f6 0%);
}

li:nth-child(2) {
    background-image: -webkit-linear-gradient(left, #f16767 0%, #f16767 50%, #f4f5f6 0%);
    background-image: -moz-linear-gradient(left, #f16767 0%, #f16767 50%, #f4f5f6 0%);
}

li:nth-child(3) {
    background-image: -webkit-linear-gradient(left, #f5ee32 0%, #f5ee32 50%, #f4f5f6 0%);
    background-image: -moz-linear-gradient(left, #f5ee32 0%, #f5ee32 50%, #f4f5f6 0%);
}

li:nth-child(4) {
    background-image: -webkit-linear-gradient(left, #97cc69 0%, #97cc69 50%, #f4f5f6 0%);
    background-image: -moz-linear-gradient(left, #97cc69 0%, #97cc69 50%, #f4f5f6 0%);
}

li:nth-child(5) {
    background-image: -webkit-linear-gradient(left, #507abd 0%, #507abd 50%, #f4f5f6 0%);
    background-image: -moz-linear-gradient(left, #507abd 0%, #507abd 50%, #f4f5f6 0%);
}

li:nth-child(6) {
    background-image: -webkit-linear-gradient(left, #6b408e 0%, #6b408e 50%, #f4f5f6 0%);
    background-image: -moz-linear-gradient(left, #6b408e 0%, #6b408e 50%, #f4f5f6 0%);
    border-bottom: none;
}

li:hover {
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.285, 0.32, 1.0) all;
    -moz-transition: 0.3s cubic-bezier(0.175, 0.285, 0.32, 1.0) all;
    background-position: 0% 0%;
}

#toggle:checked~nav {
    margin-left: -390px;
    -webkit-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    -moz-transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}


/*************************************************************************/

#mainwrapper {
    margin: 0 auto
}


/************************/