<h4 class="sub-title">Llegada del color</h4>
<div id="demoparagraph">
    <p>
        La aparición del uso de tintes en las artesanías de Usiacurí fue, quizás, tan importante como lo que significó la industrialización del color para la moda en el siglo XIX. Cuando el químico Henry Perkin inventó las anilinas y el teñido de tejidos en 1856,
        la industria de la moda dio un vuelco de 180 grados. Los colores fueron un pilar fundamental para crear diseños llenos de vida y emociones; diseños que crean un gran impacto en la imagen personal. Desde ese momento, el color y la moda cooperan
        como un dueto inseparable.
    </p>
</div>
<div class="box">
    <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Llegada-del%20color-pa%CC%81gina.JPG?alt=media&token=a39af5d5-b283-4576-b9ec-0c25e3417df3" alt="">
</div>
<div id="demoparagraph">
    <p>Sin duda alguna, la llegada del color a territorio usiacureño gracias a la incidencia de Artesanías de Colombia marcaría un antes y un después. <strong>Una planta de tinturado, implementada por la entidad, permitiría a los artesanos darle color a la palma </strong>.
        Debido a que se volvieron insumos más llamativos, novedosos y comerciales, fue posible despertar el interés de los amantes de la moda, lo que generó <strong>  ventas y alianzas con exitosos diseñadores </strong>.
    </p>

</div>
<div class="podcast_content">
    <div class="podcont">
        <div class="podcast clr2">
            <div id="photocast">
                <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto%20Mo%CC%81nica%20.JPG?alt=media&token=ef61c15d-899f-4631-80b0-631c30504075">
            </div>
            <div id="nombrecast">
                <h5> Monica Uruetra, exalcaldesa </h5>
            </div>
            <div id="audiocast">
                <audio controls controlsList="nodownload" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/%20Podcast%20Mo%CC%81nica%20Urueta.mp3?alt=media&token=74cda1d5-2c4a-4db3-aff8-e453fcb0fe0f"></audio>
            </div>
        </div>
    </div>
    <div class="podcont">
        <div class="podcast clr1">
            <div id="photocast">
                <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto%20Edilsa.JPG?alt=media&token=b0d51cfd-6ea9-4e3c-a5b5-fb4dbec09b11">
            </div>
            <div id="nombrecast">
                <h5> Edilsa</h5>
            </div>
            <div id="audiocast">
                <audio controls controlsList="nodownload" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/%20Podcast%20Edilsa%20Maldovino.mp3?alt=media&token=ea8d484a-e1dd-4690-b2fa-62e9cfc58d37"></audio>
            </div>
        </div>
    </div>
    <div class="podcont">
        <div class="podcast clr2">
            <div id="photocast">
                <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-Socarra%CC%81s%20.png?alt=media&token=97fd309e-852a-485c-ba92-46dd24187ca6">
            </div>
            <div id="nombrecast">
                <h5>Socarras</h5>
            </div>
            <div id="audiocast">
                <audio controls controlsList="nodownload" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/%20Podcast%20Socarra%CC%81s%20color%20.mp3?alt=media&token=aeb045be-4d40-4704-beb1-ca353bf0513b"></audio>
            </div>
        </div>
    </div>

</div>
<br>
<div class="box">
    <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Bolso-color-pagina%20.JPG?alt=media&token=6fbeb0c6-5dba-4d6a-9e51-fcd7ee907083" alt="">
</div>
<br>