<div id="boomcontainer">

    <h4 class="sub-title">
        En el ojo del mundo, el “boom” de Usiacurí
    </h4>
    <div id="demoparagraph">
        <p>¿Por qué un pequeño municipio de la costa atlántica llegó a ser tan relevante para la moda colombiana contemporánea? La respuesta, de acuerdo con Santiago Romero, experto en moda, lleva nombre propio: John Galliano. El exdirector creativo de la
            maison Dior trazó una ruta como punto de partida que <strong>más tarde seguirían sus colegas alrededor del mundo</strong>. Luego de un viaje a Perú, el diseñador gibralteño, en compañía del reconocido fotógrafo Mario Testino, encontró su musa
            en los paisajes cusqueños[ 4. ]
        </p>

        <p>Como resultado de su inspiración, Galliano,en su colección de alta costura otoño-invierno en el 2005, mostró ante los ojos del mundo una fusión entre la célebre silueta “new look” y el traje tradicional peruano en pasarelas parisinas. Con esto,
            el diseñador logró marcar tendencia. Es decir, los diseñadores de todo el mundo, entre ellos los colombianos, empezaron a sentir la necesidad de refrescar sus colecciones mediante <strong>el descubrimiento de lo propio, aquellos elementos identitarios del país</strong>.
        </p>

        <p>Juan Pablo Socarrás, diseñador de moda, afirmó que de allí surge la inquietud de hacer un desfile llamado “Identidad Colombiana” [5] en las pasarelas de Colombiamoda. Este tenía como fin vincular a los artesanos del país con las colecciones de
            los diseñadores colombianos y fue a raíz de este proyecto que se logra constituir las artesanías como complemento de la moda local.
        </p>


    </div>

    <div class='gallery'>
        <input checked='' id='ind-1' name='gallery' type='radio'>
        <label for='ind-1'></label>
        <input id='ind-2' name='gallery' type='radio'>
        <label for='ind-2'></label>
        <input id='ind-3' name='gallery' type='radio'>
        <label for='ind-3'></label>
        <ul class='gallery-images'>
            <li class='gallery-item'>
                <label for='ind-1'>
                          <img src='https://25.media.tumblr.com/42398e2ce1fe4c264db448a8ce2f8caf/tumblr_mhkd1xJ6N81qkegsbo1_500.png'>
                        </label>
            </li>
            <li class='gallery-item'>
                <label for='ind-2'>
                          <img src='https://25.media.tumblr.com/2f638a7a862b55af7e9757ccb8308739/tumblr_mhkd5kf3vf1qkegsbo1_500.jpg'>
                        </label>
            </li>
            <li class='gallery-item'>
                <label for='ind-3'>
                          <img src='https://25.media.tumblr.com/22d4b1e8b40a127df8061575eec00a08/tumblr_mhi8o0CVvE1qkegsbo1_500.jpg'>
                        </label>
            </li>
        </ul>
    </div>
    <div id="demoparagraph">
        <p> De allí se explica que personajes como Silvia Tcherassi, Mercedes Salazar, Beatriz Camacho y emprendedores con visión global hayan utilizado las artesanías hechas a base de iraca como complemento para sus colecciones, llevándolas al mercado de
            la moda internacional.
        </p>
        <p>Un ejemplo de este boom artesanal fue la colección resort 18 de la diseñadora Silvia Tcherassi, que llevó por nombre “Iraca” y fue presentada en Miami.
        </p>
    </div>
    <div class="quote" style="margin-bottom: -30px;">
        <span class="left">❝</span>
        <blockquote>
            Para esta colección yo quise volver a lo básico.</blockquote>
        <small>Silvia Tcherassi </small>
        <span class="right">❞</span>
    </div>
    <div id="demoparagraph" style="margin-top: 4%;">
        <p> Los accesorios artesanales de Usiacurí son esenciales para las colecciones primavera-verano y resort, ya que son las dos épocas del año en donde la mujer contemporánea busca prendas caribeñas y del trópico.
        </p>
        <p>No solo los diseñadores han puesto su mirada sobre las artesanías usiacureñas, emprendimientos locales también han trabajado de la mano de esta comunidad artesanal. Marcas como My Palha[6] , Palma Canaria, No name just people, entre otras, se
            han encargado de comercializar y exportar carteras, aretes y anillos permitiendo generar una vitrina internacional para estos productos artesanales.
        </p>
    </div>

</div>