<div id="boomcontainer">


    <div class='gallery'>
        <input checked='' id='ind-1' name='gallery' type='radio'>
        <label for='ind-1'></label>
        <input id='ind-2' name='gallery' type='radio'>
        <label for='ind-2'></label>
        <input id='ind-3' name='gallery' type='radio'>
        <label for='ind-3'></label>
        <ul class='gallery-images'>
            <li class='gallery-item'>
                <label for='ind-1'>
                          <img src='https://25.media.tumblr.com/42398e2ce1fe4c264db448a8ce2f8caf/tumblr_mhkd1xJ6N81qkegsbo1_500.png'>
                        </label>
            </li>
            <li class='gallery-item'>
                <label for='ind-2'>
                          <img src='https://25.media.tumblr.com/2f638a7a862b55af7e9757ccb8308739/tumblr_mhkd5kf3vf1qkegsbo1_500.jpg'>
                        </label>
            </li>
            <li class='gallery-item'>
                <label for='ind-3'>
                          <img src='https://25.media.tumblr.com/22d4b1e8b40a127df8061575eec00a08/tumblr_mhi8o0CVvE1qkegsbo1_500.jpg'>
                        </label>
            </li>
        </ul>
    </div>

</div>