<div id="boomcontainer">

    <h4 class="sub-title">
        En el ojo del mundo, el “boom” de Usiacurí
    </h4>
    <div id="demoparagraph">
        <p>¿Por qué un pequeño municipio de la costa atlántica llegó a ser tan relevante para la moda colombiana contemporánea? La respuesta, de acuerdo con Santiago Romero, experto en moda, lleva nombre propio: John Galliano. El exdirector creativo de la
            maison Dior trazó una ruta como punto de partida que <strong>más tarde seguirían sus colegas alrededor del mundo</strong>. Luego de un viaje a Perú, el diseñador gibralteño, en compañía del reconocido fotógrafo Mario Testino, <span class="soundcite"
                data-url="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Soundcite%20%5B4%5D.mp3?alt=media&token=209c7b43-b599-4539-a180-6a3e8bb2de81" data-start="0" data-end="23000" data-plays="1">encontró su musa en los paisajes cusqueños</span>
        </p>

        <p>Como resultado de su inspiración, Galliano,en su colección de alta costura otoño-invierno en el 2005, mostró ante los ojos del mundo una fusión entre la célebre silueta “new look” y el traje tradicional peruano en pasarelas parisinas. Con esto,
            el diseñador logró marcar tendencia. Es decir, los diseñadores de todo el mundo, entre ellos los colombianos, empezaron a sentir la necesidad de refrescar sus colecciones mediante <strong>el descubrimiento de lo propio, aquellos elementos identitarios del país</strong>.
        </p>

        <p>Juan Pablo Socarrás, diseñador de moda, afirmó que de allí surge la inquietud de hacer un desfile llamado <span class="soundcite" data-url="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Soundcite%20%5B4%5D.mp3?alt=media&token=209c7b43-b599-4539-a180-6a3e8bb2de81"
                data-start="0" data-end="30000" data-plays="1">“Identidad Colombiana”</span> en las pasarelas de Colombiamoda. Este tenía como fin vincular a los artesanos del país con las colecciones de los diseñadores colombianos y fue a raíz de este proyecto
            que se logra constituir las artesanías como complemento de la moda local.
        </p>


    </div>

    <div class='gallery'>
        <input checked='' id='ind-1' name='gallery' type='radio'>
        <label for='ind-1'></label>
        <input id='ind-2' name='gallery' type='radio'>
        <label for='ind-2'></label>
        <input id='ind-3' name='gallery' type='radio'>
        <label for='ind-3'></label>
        <input id='ind-4' name='gallery' type='radio'>
        <label for='ind-4'></label>
        <input id='ind-5' name='gallery' type='radio'>
        <label for='ind-5'></label>
        <input id='ind-6' name='gallery' type='radio'>
        <label for='ind-6'></label>
        <input id='ind-7' name='gallery' type='radio'>
        <label for='ind-7'></label>
        <input id='ind-8' name='gallery' type='radio'>
        <label for='ind-8'></label>
        <input id='ind-9' name='gallery' type='radio'>
        <label for='ind-9'></label>
        <input id='ind-10' name='gallery' type='radio'>
        <label for='ind-10'></label>
        <ul class='gallery-images'>
            <li class='gallery-item'>
                <label for='ind-1'>
                          <img src='https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-galeri%CC%81a-1.JPG?alt=media&token=648f43be-2a1a-458c-af1b-3fda88e0dbdc'>
                        <div class="pidefotog" id="dx1">
                            <span>La Iglesia Santo Domingo de Guzmán es uno de los principales atractivos turísticos del municipio</span>
                        </div>
                        </label>
            </li>
            <li class='gallery-item'>
                <label for='ind-2'>
                          <img src='https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-pagina-2%20.JPG?alt=media&token=4e7b2a74-27a5-4e0e-837a-d594f69dc7a3'>
                          <div class="pidefotog" id="dx2">
                            <span>La cotidianidad de sus calles refleja la tranquilidad de un pueblo tejedor en el que habitan 9.650 habitantes. 
                            </span>
                        </div>
                        </label>
            </li>
            <li class='gallery-item'>
                <label for='ind-3'>
                          <img src='https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-pa%CC%81gina-3.JPG?alt=media&token=4abc98aa-afec-403c-a0a6-6159ce99c75e'>
                          <div class="pidefotog" id="dx3">
                            <span>Cada dos meses se realizan ferias locales en las que los artesanos visibilizan y venden sus artesanías.</span>
                        </div>
                        </label>
            </li>
            <li class='gallery-item'>
                <label for='ind-4'>
                              <img src='https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-pagina-4.JPG?alt=media&token=9baba9c8-6682-4b38-bf5f-5a963fcac6a5'>
                              <div class="pidefotog" id="dx4">
                                <span>En sus inicios las artesanías era para el hogar. Los individuales de caracoles, y los elementos decorativos eran algunos de ellos.</span>
                            </div>
                            </label>
            </li>
            <li class='gallery-item'>
                <label for='ind-5'>
                              <img src='https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-pagina-5.JPG?alt=media&token=813cd92f-e681-42b2-86b8-0c1979afe6cd'>
                              <div class="pidefotog" id="dx5">
                                <span>Otros de los productos que se realizan son los joyeros y las paneras.</span>
                            </div>
                            </label>
            </li>
            <li class='gallery-item'>
                <label for='ind-6'>
                              <img src='https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-pagina-6.JPG?alt=media&token=027e9321-00b4-4fac-afbc-4c7dba178e0e'>
                              <div class="pidefotog" id="dx6">
                                <span>El oficio de la tejeduría en palma de iraca lleva más de dos siglos ejerciendo y se ha transmitido de generación en generación.</span>
                            </div>
                            </label>
            </li>
            <li class='gallery-item'>
                <label for='ind-7'>
                                  <img src='https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-pagina-7.JPG?alt=media&token=860e50d4-d75d-4975-b598-0b8a4dc2cc6b'>
                                  <div class="pidefotog" id="dx7">
                                    <span>De las 9.600 personas que habitan Usiacurí, 7.650 son artesanos equivalente al 80% de la población.</span>
                                </div>
                                </label>
            </li>
            <li class='gallery-item'>
                <label for='ind-8'>
                                  <img src='https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-pagina-8.JPG?alt=media&token=fdd01460-919a-4f8a-82fe-4dcae9084b0d'>
                                  <div class="pidefotog" id="dx8">
                                    <span>La palma de iraca con la que los artesanos usiacureños trabajan no es oriunda del municipio, esta proviene de San Cayetano Bolívar.</span>
                                </div>
                                </label>
            </li>
            <li class='gallery-item'>
                <label for='ind-9'>
                                  <img src='https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-pagina-9.JPG?alt=media&token=0c006c9f-8366-4286-8616-6c40c24b33a6'>
                                  <div class="pidefotog" id="dx9">
                                    <span>A partir del año 2000, la palma de iraca no se trabaja únicamente en crudo, a raíz de la innovación en las técnicas del color ha sido posible tinturar la palma hasta en 25 colores</span>
                                </div>
                                </label>
            </li>
            <li class='gallery-item'>
                <label for='ind-10'>
                                  <img src='https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-pagina-10.JPG?alt=media&token=ccecefc9-2c9a-47e3-8c12-379ca974d908'>
                                  <div class="pidefotog" id="dx10">
                                    <span>Los artesanos usiacureños han transformado la técnicas artesanales para desarrollar productos más apetecidos por la industria de la moda.</span>
                                </div>
                                </label>
            </li>
        </ul>
    </div>
    <div id="demoparagraph">
        <p> De allí se explica que personajes como Silvia Tcherassi, Mercedes Salazar, Beatriz Camacho y emprendedores con visión global hayan utilizado las artesanías hechas a base de iraca como complemento para sus colecciones, llevándolas al mercado de
            la moda internacional.
        </p>
        <p>Un ejemplo de este boom artesanal fue la colección resort 18 de la diseñadora Silvia Tcherassi, que llevó por nombre “Iraca” y fue presentada en Miami.
        </p>
    </div>
    <div class="quote" style="margin-bottom: -30px;">
        <span class="left">❝</span>
        <blockquote>
            Para esta colección yo quise volver a lo básico.</blockquote>
        <small>Silvia Tcherassi </small>
        <span class="right">❞</span>
    </div>
    <div id="demoparagraph" style="margin-top: 4%;">
        <p> Los accesorios artesanales de Usiacurí son esenciales para las colecciones primavera-verano y resort, ya que son las dos épocas del año en donde la mujer contemporánea busca prendas caribeñas y del trópico.
        </p>
        <p>No solo los diseñadores han puesto su mirada sobre las artesanías usiacureñas, emprendimientos locales también han trabajado de la mano de esta comunidad artesanal. Marcas como <span class="soundcite" data-url="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Soundicte%20%5B6%5D%20.mp3?alt=media&token=8aa2429b-5526-4108-ad2c-3fbb10dc2c84"
                data-start="0" data-end="31000" data-plays="1">My Palha</span> , Palma Canaria, No name just people, entre otras, se han encargado de comercializar y exportar carteras, aretes y anillos permitiendo generar una vitrina internacional para estos
            productos artesanales.
        </p>
    </div>

</div>