#contencamino {
    height: 725px;
}

#titlecamino {
    position: relative;
    top: 100px;
    left: 9%;
    font-size: 1.5rem;
    letter-spacing: .60rem;
    text-shadow: 1px 8px 1px rgba(188, 153, 93, 0.349);
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    color: rgb(129, 63, 12);
    font-family: 'Domine', sans-serif;
}

#introduccion {
    height: auto;
    margin-bottom: -3px;
}

p strong.title {
    position: relative;
    top: 70px;
    left: 12%;
    font-size: 1.5rem;
    letter-spacing: .60rem;
    text-shadow: 1px 8px 1px rgba(188, 153, 93, 0.349);
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    color: rgb(129, 63, 12);
    font-family: 'Domine', sans-serif;
}

img {
    border-radius: 100%;
    overflow: hidden;
}

#photocast {
    border: 4px solid #694d1c;
    height: 150px;
    width: 150px;
    border: 4px solid #7c5a20;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: -90px;
}

.podcast {
    margin: 95px 8px 8px 8px;
    width: 300px;
    height: 150 px;
    border: 3px solid transparent;
    border-radius: 20px;
    text-align: center;
}

.clr1 {
    background: #af7c24;
}

.clr2 {
    background: #daaa58;
}

#audiocast {
    margin-left: 0px 0px -3px 0px;
}

audio {
    margin: 0px 0px -5px 0px;
    color: red;
    height: 35px;
}

#nombrecast {
    max-width: 30px;
    min-width: 300px;
    position: relative;
}

.podcont {
    float: left;
}

.podcast_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.baner {
    height: 10%;
}

#fullpic {
    border-radius: 0;
    width: 100%;
    overflow: hidden;
    margin: 50px 0 0 50px;
}

.box {
    width: 100%;
    height: 550px;
    overflow: hidden;
    z-index: -100;
    overflow: hidden;
    height: 450px;
}

.box img {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 0;
}


/*************************************todo los modales  *******************************/