<div id="contencamino">
    <h4 class="sub-title">El camino hacia la moda</h4>
    <div id="demoparagraph">
        <p>
            Sin duda alguna, ese saber hacer de los artesanos usiacureños es el que les ha permitido tejer un largo camino que desembocaría, más tarde, <strong> en un elemento crucial para la moda colombiana. </strong> En un principio, las artesanías
            que se realizaban eran para el hogar: individuales, cofres y paneras. Con el paso de los años, los artesanos tuvieron la inquietud de ver en qué otros contextos podría funcionar la técnica de la tejeduría en iraca y fue allí cuando tomaron
            la decisión de innovar en sus productos.
        </p>

        <p>
            Es así como los objetos tejidos para el uso cotidiano se <strong> ampliaron a otros accesorios como carteras, anillos y aretes </strong> , complementos que armonizan la estética de la mujer.
        </p>

    </div>
    <div class="podcast_content">
        <div class="podcont">
            <div class="podcast">
                <div id="photocast">
                    <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-Edgardo.png?alt=media&token=d2ca58b4-8120-414d-8fc5-8ccf6af2044f">
                </div>
                <div id="nombrecast">
                    <h5> nombre del podcast ahora aca</h5>
                </div>
                <div id="audiocast">
                    <audio controls controlsList="nodownload" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/%20Podcast%20Edgardo%20Ortiz-%20Artesano%20.mp3?alt=media&token=6bd02eb6-7f64-43af-a706-d7b9162c0aa5"></audio>
                </div>
            </div>
        </div>
        <div class="podcont">
            <div class="podcast">
                <div id="photocast">
                    <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-Edgardo.png?alt=media&token=d2ca58b4-8120-414d-8fc5-8ccf6af2044f">
                </div>
                <div id="nombrecast">
                    <h5> nombre del podcast ahora aca</h5>
                </div>
                <div id="audiocast">
                    <audio controls controlsList="nodownload" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/%20Podcast%20Edgardo%20Ortiz-%20Artesano%20.mp3?alt=media&token=6bd02eb6-7f64-43af-a706-d7b9162c0aa5"></audio>
                </div>
            </div>
        </div>
        <div class="podcont">
            <div class="podcast">
                <div id="photocast">
                    <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-Edgardo.png?alt=media&token=d2ca58b4-8120-414d-8fc5-8ccf6af2044f">
                </div>
                <div id="nombrecast">
                    <h5> nombre del podcast ahora aca</h5>
                </div>
                <div id="audiocast">
                    <audio controls controlsList="nodownload" src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/%20Podcast%20Edgardo%20Ortiz-%20Artesano%20.mp3?alt=media&token=6bd02eb6-7f64-43af-a706-d7b9162c0aa5"></audio>
                </div>
            </div>
        </div>

    </div>
    <div id="demoparagraph">
        <p>
            Pero fue solo hasta que algunos artesanos empezaron a implementar el uso de la anilina que estos productos artesanales empezaron a ser verdaderamente competitivos dentro de la industria de la moda. <strong>La llegada del color y la implementación de accesorios femeninos transformarían las artesanías usiacureñas  </strong>            .
        </p>

    </div>

</div>