.chain {
    padding: 133px 20px 50px 20px;
    position: relative;
    top: 33%;
    left: 40%;
}

#titlecadena {
    position: relative;
    top: 60px;
    left: 180px;
    z-index: 1;
}

h1 {
    position: relative;
    top: 7%;
    left: 42%;
}

.circle-lf {
    position: relative;
    top: 10%;
    right: 15px;
    height: 90px;
    width: 90px;
    border: solid 10px rgb(255, 237, 206);
    border-radius: 100%;
}

.circle-rg {
    position: relative;
    top: 10%;
    left: 30px;
    height: 90px;
    width: 90px;
    border: solid 10px rgb(255, 237, 206);
    border-radius: 100%;
}

.circle-line {
    margin-top: -16px;
    height: 140px;
    width: 130px;
    border: solid rgb(255, 237, 206);
}

.rg {
    border-radius: 100% 0 0 100%;
    border-width: 15px 0px 15px 15px;
}

.lf {
    margin-left: 64px;
    border-radius: 0 50% 50% 0;
    border-width: 15px 15px 15px 0px;
}

.play-button {
    top: 37%;
    left: 130%;
}

.play-button-rg:after {
    position: absolute;
    top: 37%;
    left: 130%;
    display: block;
    content: '';
    box-sizing: border-box;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 13px 0 13px 20px;
}

.play-button-lf:before {
    position: absolute;
    top: 37%;
    right: 130%;
    display: block;
    content: '';
    box-sizing: border-box;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    border-width: 13px 20px 13px 0px;
}

.imgcont {
    max-height: 120px;
    max-width: 120px;
}

.article-rg {
    position: absolute;
    top: -32px;
    left: 200px;
    text-align: left;
}

.leyeng-rg {
    position: absolute;
    top: 35%;
    left: 140px;
    text-align: left;
    min-width: 250px;
    max-width: 250px;
}

.article-lf {
    position: absolute;
    top: -32px;
    left: -200px;
    text-align: left;
}

.leyeng-lf {
    position: absolute;
    top: 35%;
    left: -260px;
    text-align: right;
    max-width: 250px;
}

#demoparagraph {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 29px;
    -moz-column-gap: 29px;
    column-gap: 29px;
    -webkit-column-rule: 1px solid rgba(28, 110, 164, 0.5);
    -moz-column-rule: 1px solid rgba(28, 110, 164, 0.5);
    column-rule: 1px solid rgba(28, 110, 164, 0.5);
    max-width: 80%;
    position: relative;
    top: 40px;
    margin: 5px;
    padding: 35px;
    left: 8%;
    align-content: center;
}

#demoparagraph p {
    margin-top: 5px;
}

#introduccion {
    height: 400px;
    margin-bottom: -3px;
}

p strong.title {
    position: relative;
    top: 70px;
    left: 12%;
    font-size: 1.5rem;
    letter-spacing: .60rem;
    text-shadow: 1px 8px 1px rgba(188, 153, 93, 0.349);
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    color: rgb(129, 63, 12);
    font-family: 'Domine', sans-serif;
}

#triplete {
    position: relative;
    display: inline-block;
    height: 215px;
    margin-left: 14%;
    margin-top: 55px;
}

#triplete div {
    position: absolute;
    float: left;
}

#img1 {
    position: absolute;
    left: 40px;
    top: 12%;
}

#video {
    position: absolute;
    left: 330px;
}

#img2 {
    position: absolute;
    left: 690px;
    top: 12%;
}