<div id="cadenavalor">

    <h1 id="titlecadena">Cadena de Valor <span> Artesanias</span></h1>

    <div class="container">


        <div class="chain">
            <div class="circle-line lf">
                <div class="circle-lf">
                    <div class="play-button-lf"></div>
                    <h1>1</h1>
                    <div class="article-lf">
                        <div>
                            <h3>Titulo</h3>
                            <!-- <img class="imgcont" src="" "></img> -->
                            <img class="imgcont" src="../../assets/images/Diseño-atlantico-mapa-minimalista-general.gif">
                        </div>
                        <div class="leyeng-lf">
                            <p> contenido de la cadena de toca tener una gran cantidad de ocntenido para ajustar bien valor</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="circle-line rg ">
                <div class="circle-rg ">
                    <div class="play-button-rg"></div>
                    <h1>2</h1>
                    <div class="article-rg">
                        <div>
                            <h3>Titulo</h3>
                            <!-- <img class="imgcont" src="" "></img> -->
                            <img class="imgcont" src="../../assets/images/Diseño-atlantico-mapa-minimalista-general.gif">
                        </div>
                        <div class="leyeng-rg">
                            <p> contenido de la cadena de toca tener una gran cantidad de ocntenido para ajustar bien valor</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="circle-line lf ">
                <div class="circle-lf ">
                    <div class="play-button-lf "></div>
                    <h1>3</h1>
                </div>
            </div>
            <div class="circle-line rg ">
                <div class="circle-rg ">
                    <div class="play-button-rg "></div>
                    <h1>4</h1>
                </div>
            </div>
            <div class="circle-line lf ">
                <div class="circle-lf ">
                    <div class="play-button-lf "></div>
                    <h1>5</h1>
                </div>
            </div>
            <div class="circle-line rg ">
                <div class="circle-rg ">
                    <div class="play-button-rg "></div>
                    <h1>6</h1>
                </div>

            </div>
            <div class="circle-line lf ">
                <div class="circle-lf ">
                    <div class="play-button-lf "></div>
                    <h1>7</h1>
                </div>
            </div>
        </div>

    </div>

</div>