#introduccion {
    height: auto;
    margin-bottom: -3px;
}

p strong.title {
    position: relative;
    top: 70px;
    left: 12%;
    font-size: 1.5rem;
    letter-spacing: .60rem;
    text-shadow: 1px 8px 1px rgba(188, 153, 93, 0.349);
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    color: rgb(129, 63, 12);
    font-family: 'Domine', sans-serif;
}

#triplete {
    position: relative;
    display: inline-block;
    height: 215px;
    margin: 0 15% 0 15%;
    margin-top: 0;
}

#triplete div {
    position: absolute;
    float: left;
}

.scroller a {
    width: 100%;
}

#img1 {
    left: -3px;
    top: 6%;
}

#video {
    position: absolute;
    left: 292px;
}

#img2 {
    position: absolute;
    left: 657px;
    top: 6%;
}

.cadenavalor {
    min-height: 660px;
}