#demoparagraph {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 29px;
    -moz-column-gap: 29px;
    column-gap: 29px;
    -webkit-column-rule: 1px solid rgba(28, 110, 164, 0.5);
    -moz-column-rule: 1px solid rgba(28, 110, 164, 0.5);
    column-rule: 1px solid rgba(28, 110, 164, 0.5);
    max-width: 80%;
    position: relative;
    top: 40px;
    margin: 5px;
    padding: 30px;
    left: 8%;
    align-content: center;
}

#demoparagraph p {
    margin-top: 5px;
}

#introduccion {
    height: 400px;
    margin-bottom: -3px;
}

p strong.title {
    position: relative;
    top: 70px;
    left: 12%;
    font-size: 1.5rem;
    letter-spacing: .60rem;
    text-shadow: 1px 8px 1px rgba(188, 153, 93, 0.349);
    letter-spacing: 1px;
    justify-content: center;
    text-align: center;
    color: rgb(129, 63, 12);
    font-family: 'Domine', sans-serif;
}

#triplete {
    position: relative;
    display: inline-block;
    height: 215px;
    margin-left: 14%;
    margin-top: 25px;
}

#triplete div {
    position: absolute;
    float: left;
}

#img1 {
    position: absolute;
    left: 40px;
    top: 12%;
}

#video {
    position: absolute;
    left: 330px;
}

#img2 {
    position: absolute;
    left: 690px;
    top: 12%;
}

.cadenavalor {
    min-height: 660px;
}

#plaintext {
    position: relative;
    top: -20px;
}