<div id="cadenavalor" style="height: 630px;">
    <div id="plaintext">
        <h4 class="sub-title">El día a día en tierras usiacureñas </h4>

        <div id="demoparagraph">

            <p>
                Cuando se llega a suelo usiacureño, lo primero que se siente son los 27 grados centígrados en los que suele estar este municipio. Pero mientras se camina por sus suelos quebrados también se percibe la cálida acogida de sus habitantes. ¡Quiubo, mija!,
                te saludan desde los pórticos de sus casas hombres y mujeres que, con su actitud y gran desparpajo, cautivan a cualquiera que les pase por delante. Desde allí, mientras pasan el tiempo en una mecedora se divisa cómo en la mayoría de ellas,
                hay por lo menos <span class="soundcite" data-url="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Soundcite%20%5B3%5D%20.mp3?alt=media&token=30dadbc4-4450-4146-8282-e683400f3a09" data-start="0"
                    data-end="17000" data-plays="1">un artesano con un cogollo entre sus manos</span>, tejiendo lo que más tarde será una panera, un corazoncito o un canasto.

            </p>

        </div>


    </div>
    <div id="triplete">

        <div class="img" id="img1">
            <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-tripleta-1.JPG?alt=media&token=37f047f2-af78-478a-8f9b-3e960e1b423f" alt="Paris" style="width:280px; height: 185px;">
        </div>
        <div id="video">
            <iframe width="350" height="210" src="https://www.youtube.com/embed/f8bNEEA1_yI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="img" id="img2">
            <img src="https://firebasestorage.googleapis.com/v0/b/usiacuri-moda-artesania.appspot.com/o/Foto-tripleta-2.JPG?alt=media&token=304acb7a-c47a-4183-bf0f-46910c165ae0" alt="Paris" style="width:280px; height: 185px;">
        </div>

    </div>

    <div id="demoparagraph">

        <p>
            En Usiacurí todos tejen: hombres, mujeres, niños, adultos mayores. Con una punta amarrada en la reja de sus ventanas empiezan un proceso de trenzado con una rapidez que evidencia cómo este proceso hace parte de su rutina diaria. Sus hacedores lo ven tan
            natural, que no logran percatarse del talento que se requiere para desarrollar dicho arte. Si les preguntas, ¿es difícil? muchos suelen responder con un “Ah, ¡no!, yo ya le tengo la maña”.

        </p>

    </div>



</div>