/* You can add global styles to this file, and also import other style files */

@import url("//fonts.googleapis.com/css?family=Domine&display=swap");
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    font-family: "Cinzel", sans-serif;
    font-size: 100%;
    overflow-y: scroll; 
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

* {
    padding: 0;
    margin: 0; 
}